@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@mixin loader() {
  animation: spinAround 1.2s infinite linear;
  border: 5px solid #dbdbdb;
  border-radius: 9999px;
  border-right-color: transparent;
  border-top-color: transparent;
  display: block;
  height: 3rem;
  position: absolute;
  width: 3rem;
}

.loader-mixin {
  @include loader();
}
