.wrapper {
    position: relative;
}

.btn_wrapper {
    position: absolute;
    bottom: 1rem;
    left: 4vw;
    width: 92vw;
}

.btn_wrapper button {
    font-size: 0.8rem;
}

@media (max-height: 667px) {

    .head {
        display: none;
    }

}
