.wrapper {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.text {
    text-align: center;
    color: rgb(59, 50, 0);
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.text h1 {
    font-weight: 600;
    letter-spacing: 5px;
}

.bar {
    padding: 0 2.2rem;
}