.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    width: 100vw;
}

.head {
    width: 100%;
    background-color: whitesmoke;
    padding-top: 0.5rem;
    margin-bottom: 0.5em;
}


.btn_wrapper {
    margin-top: 2rem;
}

.btn_wrapper button {
    font-size: 0.8rem;
}

@media (max-width: 375px) {
    .btn_wrapper {
        margin-top: 0.5rem;
    }
}


@media (max-height: 667px) {

    .head {
        display: none;
    }

}