.container {
    position: relative;
    height: 100vh;
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.apples {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:rgb(255, 242, 175);
    padding: 1rem;
}

.main {
    overflow: scroll;
}