.container {
    position: relative;
    overflow: scroll;
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* z-index: 5; */
}

.apples {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:rgb(255, 242, 175);
    padding: 0.2rem;
}

.main {
    overflow: scroll;
}


