.container {
    position: relative;
    overflow: scroll;
}

.text {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    display: none;
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.apples {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:rgb(255, 242, 175);
    padding: 0.2rem;
}

.main {
    overflow: scroll;
}



@media (min-width: 415px) {
    .text {
        display: block;
    }
    .banner, .main {
        display: none;
    }
}
  
@media (min-height: 897px) {
    .text {
        display: block;
    }
    .banner, .main {
        display: none;
    }
}


