.wrapper {
    position: absolute;
    top: calc(100% - 220px);
    width: 100vw;
    margin-bottom: -5rem;
}

.img_wrapper {
    width: 100vw;
    height: 220px;
    position: relative;
}


@media (max-height: 812px) {
    .wrapper {
        top: calc(100% - 220px + 2rem);
    }
}

@media (max-height: 667px) {
    .wrapper {
        top: calc(100% - 220px + 5rem);
    }
}
