@use 'bulma' as *;

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: white;

    .button:not(.is-success):not(.is-outlined):not(.is-warning):not(.is-danger):not(.is-light):not(
        .is-info
      ):not(.is-primary) {
      background-color: white !important;
      color: #636363 !important;
    }

    .input {
      background-color: white !important;
      color: #636363 !important;

      &::placeholder {
        color: rgba(0, 0, 0, 0.4) !important;
      }
    }
  }
}
